.dashboard{
	height: calc(100vh);

	display: flex;
	overflow: hidden;
}


.chatMenu{
	flex: 3.5;
}

.chatMenuInput{
	width: 90%;
	padding:10px 0;
	border: none;
	border-bottom: 1px solid grey;
}

.contentContainer{
	/*flex: 5.5;*/
}

.chatBoxWrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.chatBoxTop{
	height: 100%;
	overflow-y: scroll;
	padding-right: 10px;
}

.chatBoxBottom{
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chatMessageInput{
	width: 80%;
	height: 90px;
	padding: 10px;
	border: 1px solid lightgray;
}

.chatSubmitButton{
	width: 70px;
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #132137;
	color: white;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
	padding: 10px;
	height: 100%;
}

.noConversationText {

	font-size: 50px;
	cursor: default;
  }

  .add-component {
	padding: 10px;
  }

  .add-component h2 {
	font-size: 24px;
	margin-bottom: 15px;
  }

  .add-component ul {
	list-style: none;
	padding: 0;
  }

  .add-component li {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
  }

  .userProfilePicture,
  .groupPicture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	object-fit: cover;
  }

  .userName,
  .groupName {
	font-size: 18px;
  }

	.addButton {
	margin-left: auto;
	margin-top: 8px;
	padding: 8px;
	background-color: #132137;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
  }
  .addButton:hover {
	background-color: #2980b9;
  }